<section class="faq-section">
  <div class="container">
    <h1>All the published posts</h1>
    <button onclick="<%= (req.session.userId) ? 'gotoCreatePostPage()': 'gotoLoginPage()'%>" style="font-size: 15px; color: blue; text-decoration: underline;">Create Post</button>
    <div class="faq-content">
      <div class="faq-inner-content">
        <div class="contact-sec">
          <% for(let i=0;i<posts.length;i++) { %>
          <ul>
            <li>Post Name:
              <a href="/post/<%= posts[i].id%>/<%= posts[i].slug%>" style="color: blue">
                <%= posts[i].name%></a>
            </li>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<button class="scrolltop-btn">
  <i class="fas fa-chevron-up"></i>
</button>
